/node_modules
/storage/*.key
/public/modules
/public/css
/public/js
/public/fonts
/public/images
/public/dependencies
/vendor
.env
.env.backup
.idea
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
laravel-echo-server.lock
laravel-echo-server.json
