// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Bootstrap
@import '~font-awesome/scss/font-awesome';

// Draggable Dialog
@import '../modules/draggable-dialog/dialog.css';

// Ntifications
@import '~notification-js/src/notification.css';

// Draggable Dialog
@import '~flatpickr/dist/flatpickr.min.css';

@import '~flatpickr/dist/themes/material_blue.css';


.text-theme,
.text-hover-theme a:hover,
.text-hover-theme .active > a {
    color: #53a6fa !important; }

.nav-active-theme .nav-link.active,
.nav-active-theme .nav > li.active > a,
.btn.theme,
.btn.b-theme:hover,
.btn.b-theme:focus,
.pace .pace-progress,
.theme {
    color: rgba(255, 255, 255, 0.85) !important;
    background-color: #53a6fa !important; }

.b-theme,
.nav-border,
nav.nav-border {
    border-color: #53a6fa !important; }

.btn.theme-accent,
.btn.b-theme-accent:hover,
.btn.b-theme-accent:focus {
    color: rgba(255, 255, 255, 0.85) !important;
    background-color: #22b66e !important; }

.theme-accent {
    color: rgba(255, 255, 255, 0.85) !important;
    background-color: #22b66e !important; }

.sidenav .nav-border .active > a,
.sidenav .nav-active-text .active > a {
    color: #53a6fa; }

.fill-theme {
    fill: #53a6fa; }

.stroke-theme {
    stroke: #53a6fa; }

.list-modify{
    border: 1px solid #dee2e6;
    border-bottom: 0;
    border-radius: 0;
    box-shadow: none;
}
.noarrow{
    -webkit-appearance: none;
    appearance: none;
}
.fake-disabled {
     background-color: #fff!important;
     opacity: 1;
}
.fake-disabled *{
    background: red;
}
.sp-p{
    padding: 7px 16px;
}
.smd > i {
    width: 20px!important;
    height: 20px!important;
    top: 0!important;
}
.smd input:checked + i:before {
    width: 10px!important;
    height: 10px!important;
    left: 5px!important;
    top: 5px!important;
}
.nlborder.list-group .list-group-item:last-child{
    border:none!important;
}
.folder-link{
    position: relative;
    padding-left: 48px!important;
}
.folder-link > i{
    position: absolute;
    left: 15px;
    top: 12px;
    font-size: 20px;
}
.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 40px;
}
.cat-but-padding{
    width: 62px;
    padding: 11px 5px;
}
.np{
    padding: 0!important;
}
.lgi:hover, .lgi:focus, .lgi.hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.nv-helper{
    width: 100%;
}
.is-invalid + .input-group-append > button{
    border-color: #e3342f!important;
}
.swal2-container {
    z-index: 10060;
}
.swal2-icon::before {
    font-size: 2.75em!important;
}
.swal2-icon {
    width: 3em!important;
    height: 3em!important;
    margin: 0.25em auto 0.875em!important;
}
.swal2-title {
    font-size: 1.275em!important;
}
.swal2-styled {
    font-size: 0.8em!important;
    padding: 0.5rem 1.5rem!important;
}
.swal2-content {
    font-size: 0.8em!important;
}
.swal2-actions {
    margin: 0.8em auto 0!important;
}
.swal2-popup {
    width: 18em!important;
}
.d-none-f{
    display: none;
}
.table .compressed{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.table .article{
    max-width: 480px;
}
.table .brand{
    max-width: 200px;
}
.flexed-navs > li{
    flex: 1;
    text-align: center;
}
w-280{
    width: 280px!important;
}
.product_list_element_name{
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 200px;
}
.full_w_table{
    margin-left: -15px;
    margin-right: -15px;
    width: calc(100% + 30px);
    white-space: nowrap;
}
.table th, .table td {
    vertical-align: middle;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
td > .nv-helper{
    display: none;
}
td > .is-invalid{
    padding: 0.25rem 0.5rem!important;
    border-width: 2px!important;
    background-image: none!important;
}
button.is-invalid{
    border-color: #e3342f!important;
    border-width: 2px;
}
