// Variables
@import 'variables';

//Fonts
@import 'fonts';

@import 'icons';

@import 'form';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Draggable Dialog
@import '../modules/draggable-dialog/dialog.css';

// Ntifications
@import '~notification-js/src/notification.css';

// Draggable Dialog
@import '~flatpickr/dist/flatpickr.min.css';

@import '~flatpickr/dist/themes/material_blue.css';

@import '~simplebar/dist/simplebar.min.css';

@import '~tippy.js/dist/tippy.css';

@import '~tabulator-tables/dist/css/tabulator.css';


@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';
@import '~@fullcalendar/list/main.css';
@import '~@fullcalendar/timeline/main.css';

@import '~@fullcalendar/resource-timeline/main.css';

#ajax-content{
    max-height: calc(100% - 56px);
}

.catalogue{
    .cat_item{
        display: inline-block;
    }
}

.text-theme,
.text-hover-theme a:hover,
.text-hover-theme .active > a {
    color: #53a6fa !important; }

.nav-active-theme .nav-link.active,
.nav-active-theme .nav > li.active > a,
.btn.theme,
.btn.b-theme:hover,
.btn.b-theme:focus,
.pace .pace-progress,
.theme {
    color: rgba(255, 255, 255, 0.85) !important;
    background-color: #53a6fa !important; }

.b-theme,
.nav-border,
nav.nav-border {
    border-color: #53a6fa !important; }

.btn.theme-accent,
.btn.b-theme-accent:hover,
.btn.b-theme-accent:focus {
    color: rgba(255, 255, 255, 0.85) !important;
    background-color: #22b66e !important; }

.theme-accent {
    color: rgba(255, 255, 255, 0.85) !important;
    background-color: #22b66e !important; }

.sidenav .nav-border .active > a,
.sidenav .nav-active-text .active > a {
    color: #5b73bd; }

.fill-theme {
    fill: #53a6fa; }

.stroke-theme {
    stroke: #53a6fa; }

.list-modify{
    border: 1px solid #dee2e6;
    border-bottom: 0;
    border-radius: 0;
    box-shadow: none;
}
.noarrow{
    -webkit-appearance: none;
    appearance: none;
}
.fake-disabled {
     background-color: #fff!important;
     opacity: 1;
}

.dark .fake-disabled {
    background-color: transparent!important;
    opacity: inherit;
}

.fake-disabled *{
    background: red;
}
.sp-p{
    padding: 7px 16px;
}
.smd > i {
    width: 20px!important;
    height: 20px!important;
    top: 0!important;
}
.smd input:checked + i:before {
    width: 10px!important;
    height: 10px!important;
    left: 5px!important;
    top: 5px!important;
}
.nlborder.list-group .list-group-item:last-child{
    border:none!important;
}
.folder-link{
    position: relative;
    padding-left: 48px!important;
}
.folder-link > i{
    position: absolute;
    left: 15px;
    top: 12px;
    font-size: 20px;
}
.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 40px;
}
.cat-but-padding{
    width: 62px;
    padding: 11px 5px;
}
.np{
    padding: 0!important;
}
.lgi:hover, .lgi:focus, .lgi.hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.nv-helper{
    width: 100%;
}
.is-invalid + .input-group-append > button{
    border-color: #e3342f!important;
}
.swal2-container {
    z-index: 10060;
}
.swal2-icon::before {
    font-size: 2.75em!important;
}
.swal2-icon {
    width: 3em!important;
    height: 3em!important;
    margin: 0.25em auto 0.875em!important;
}
.swal2-title {
    font-size: 1.275em!important;
}
button.swal2-styled {
    font-size: 0.8em!important;
    padding: 0 15px!important;
}
.swal2-content {
    font-size: 0.8em!important;
}
.swal2-actions {
    margin: 0.8em auto 0!important;
}
.swal2-popup {
    width: 18em!important;
}
.d-none-f{
    display: none;
}
.table .compressed{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.table .article{
    max-width: 20vw;
}
.table .brand{
    max-width: 200px;
}
.flexed-navs > li{
    flex: 1;
    text-align: center;
}
w-280{
    width: 280px!important;
}
.product_list_element_name{
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 400px;
}
.full_w_table{
    margin-left: -15px;
    margin-right: -15px;
    width: calc(100% + 30px);
    white-space: nowrap;
}
.table th, .table td {
    vertical-align: middle;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
td > .nv-helper{
    display: none;
}
td > .is-invalid{
    padding: 0.25rem 0.5rem!important;
    border-width: 1px!important;
    background-image: none!important;
}
button.is-invalid{
    border-color: #e3342f!important;
    border-width: 1px;
}
label{
    font-weight: 500;
    font-size: inherit;
}

button .fa-bars{
    color: #929eb0;
}

.mw-280-e{
    max-width: 280px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    text-overflow-ellipsis: color(red);
}
header .nav-item.active{

}
.navfh{
    height: 56px;
    margin-top: -10px!important;
    margin-bottom: -10px;
}
.navfh .nav-item a{
    padding: 0;
    display: block;
    line-height: 56px;
    height: 56px;
}
.category-aside{
    overflow: hidden!important;
}
.category-aside .actions{
    transform: translateX(100px);
    transition: 200ms ease-out;
    transition-delay: 0.5s;
    position: absolute;
    line-height: 36px;
    right: 0;
    background: #fff;
}
.category-aside:hover .actions{
    transform: translateX(0px);
    opacity: 1!important;
}
.text-ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.category-aside .actions a{
    padding: 8px 10px;
    opacity: 0.5;
}

.category-aside .actions a:first-child{
    padding-right: 4px;
}
.category-aside .actions a:last-child{
    padding-left: 4px;
}
.category-aside .actions a:last-child{
    padding-right: 10px;
}
.category-aside .actions a:hover{
    opacity: 1;
}
.navbar input, .navbar button{
    height: 29px;
}
.modal-header {
    border-radius: 0;
 }
.breadcrumb {
    padding: 18px 1rem;
}
.table-hover tbody tr:hover {
    color: #212529;
    background-color: #f3f6f9;
}
.compressed{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.simplebar-scrollbar:before {
    background: #323b4769;
}
#login-form .title-sess{
    font-size: 1.8rem;
}
#login-form{
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 10000000;
}
input:-internal-autofill-selected {
    background-color: inherit;
    color: inherit;
}

.action_panel{
    display: none;
}

.can_action .action_hover:hover .action_panel{
    display: block;
}
#shema_stored .list-group-item:last-child .arrow.bottom{
    display: none;
}
#available_list .arrow.bottom{
    display: none;
}
#shema_stored .list-group-item{
    border-top: 0!important;
    border-bottom-color: #22b66e!important;
}

.fc-toolbar {
    background-color: #ffffff!important;
    color: #212529!important;
    border-radius: 0!important;
    margin: 0 !important;
    padding: 6px 0;
}
.fc-toolbar {
    border-radius: 0!important;
    padding: 0.5rem 1rem!important;
}
.fc-toolbar button {
    color: #212529!important;
    background: #fff!important;
    border: 1px solid rgba(120, 130, 140, 0.2)!important;
    box-shadow: none!important;
    margin-top: 0px!important;


    padding: 0.25rem 0.5rem!important;
    line-height: 1.5!important;
    border-radius: 0.2rem!important;
    font-size: 0.8rem!important;
    font-weight: 400!important;
    outline: 0 !important;
}

.fc-toolbar button:not([disabled]):hover, .fc-toolbar button:not([disabled]):focus, .fc-toolbar button:not([disabled]).fc-button-active {
    color: inherit;
    box-shadow: inset 0 -10rem 0px rgba(158, 158, 158, 0.2)!important;
}
.fc-toolbar h2 {
    padding-top: 0px!important;
    display: inline-block!important;
}
hr.fc-divider {
    padding: 0!important;
    border-width: 1px 0 0 0!important;
}
.fc-event {
    border-radius: 2px!important;
}
.fc-icon {
    display: block!important;
    height: 19px!important;
}
.fc-unthemed .fc-list-empty {
    background-color: #fff!important;
}
.select_btn .selected{
    display: none;
}
.select_btn.already_selected .not_selected{
    display: none;
}
.select_btn.already_selected .selected{
    display: flex;
}
.select_btn.already_selected{
    color: rgba(255, 255, 255, 0.85);
    background-color: #22b66e;
}
.select_btn.already_selected:hover{
    color: rgba(255, 255, 255, 1)!important;
}
.fc-resource-area.fc-widget-header{
    width: 200px!important;


}
.fc-timeline .fc-divider {
    display: none!important;
}
.fc-resource-area .fc-cell-text {
    white-space: nowrap!important;
    overflow: hidden!important;
    text-overflow: ellipsis!important;
    display: block!important;
}

.md-form-group.is-invalid .invalid-feedback{
    display: block;
}
.md-form-group.is-invalid .md-input{
    border-color: #e3342f!important;
}

.sms-confirm{
    position: absolute !important;
    border-radius: 5px;
    margin-bottom: 0 !important;
    width: 100%;
    z-index: 100000;
    top: 33%;
    box-shadow: 0 0 109px 32px #516eb061, 0 0 20px 8px #516eb061, inset 0px 0px 2px 2px #1e2835e3;
    display: none;
}
.transition-70ms{
    transition: all 70ms ease-in-out 0s;
}
.loading, .loading a, .loading button, .loading input, .loading select{
    cursor: progress!important;
}

