// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Bootstrap
@import '~font-awesome/scss/font-awesome';

// Draggable Dialog
@import '../modules/draggable-dialog/dialog.css';

// Draggable Dialog
@import '~notification-js/src/notification.css';




.text-theme,
.text-hover-theme a:hover,
.text-hover-theme .active > a {
    color: #53a6fa !important; }

.nav-active-theme .nav-link.active,
.nav-active-theme .nav > li.active > a,
.btn.theme,
.btn.b-theme:hover,
.btn.b-theme:focus,
.pace .pace-progress,
.theme {
    color: rgba(255, 255, 255, 0.85) !important;
    background-color: #53a6fa !important; }

.b-theme,
.nav-border,
nav.nav-border {
    border-color: #53a6fa !important; }

.btn.theme-accent,
.btn.b-theme-accent:hover,
.btn.b-theme-accent:focus {
    color: rgba(255, 255, 255, 0.85) !important;
    background-color: #22b66e !important; }

.theme-accent {
    color: rgba(255, 255, 255, 0.85) !important;
    background-color: #22b66e !important; }

.sidenav .nav-border .active > a,
.sidenav .nav-active-text .active > a {
    color: #53a6fa; }

.fill-theme {
    fill: #53a6fa; }

.stroke-theme {
    stroke: #53a6fa; }

.list-modify{
    border: 1px solid #dee2e6;
    border-bottom: 0;
    border-radius: 0;
    box-shadow: none;
}
.noarrow{
    -webkit-appearance: none;
    appearance: none;
}
.fake-disabled {
     background-color: #fff!important;
     opacity: 1;
}
.sp-p{
    padding: 7px 16px;
}
.smd > i {
    width: 20px!important;
    height: 20px!important;
    top: 0!important;
}
.smd input:checked + i:before {
    width: 10px!important;
    height: 10px!important;
    left: 5px!important;
    top: 5px!important;
}
.nlborder.list-group .list-group-item:last-child{
    border:none!important;
}
.folder-link{
    position: relative;
    padding-left: 48px!important;
}
.folder-link > i{
    position: absolute;
    left: 15px;
    top: 12px;
    font-size: 20px;
}
.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 40px;
}
.cat-but-padding{
    width: 62px;
    padding: 11px 5px;
}
.np{
    padding: 0!important;
}
.lgi:hover, .lgi:focus, .lgi.hover {
    background-color: rgba(0, 0, 0, 0.05);
}
