


/*Tabulator*/
@import '~tabulator-tables/dist/css/tabulator.css';
/*Ntifications*/
@import '~notification-js/src/notification.css';
/*Simplebar*/
@import '~simplebar/dist/simplebar.min.css';
/*Croppr*/
@import '~croppr/src/css/croppr.css';
/*Tippy*/
@import '~tippy.js/dist/tippy.css';
/*Form*/
@import 'form';
/*Modal*/
@import 'modal';
/*Stack*/
@import 'stack';
/*Button*/
@import 'button';
/*Animation*/
@import 'animation';
/*StreamLine*/
@import 'streamline';
/*Schedule*/
@import 'schedule';
@import 'catalogues';
/*FlatPiker*/
@import '~flatpickr/dist/flatpickr.min.css';
/*FlatPikerTheme*/
@import '~flatpickr/dist/themes/material_blue.css';
/*Fullcalendar*/
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';
@import '~@fullcalendar/list/main.css';
@import '~@fullcalendar/timeline/main.css';
@import '~@fullcalendar/resource-timeline/main.css';
/*Tagify*/
@import "~@yaireo/tagify/dist/tagify.css";

/*Choices*/
//@import "~choices.js/src/styles/base";
@import "~choices.js/src/styles/choices";

@import "bbtable.scss";
@import "bblist.scss";

/*Colors*/
@import 'colors';

/*Selector*/
@import "~sceditor/minified/themes/default.min.css";

.swal2-styled {
    padding: 0 15px!important;
}
.cat_item{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 150px;
    height: 160px;
    padding: 15px;
    float: left;
    margin: 10px;
    cursor: pointer;
    color: #4F4F4F;
    border-radius: 5px;
    font-weight: 500;
    a{
        width: 100%;
        display: flex;
    }
    .bookmark{
        position: absolute;
        height: 18px;
        width: 18px;
        right: 15px;
        top: 15px;
        background: url(/images/bookmark.svg) center no-repeat;
        &:hover{
            background: url(/images/bookmark_on.svg) center no-repeat;
        }
    }
    span{
        height: auto;
        margin: auto;
    }
    &:hover{
        transition: all 0.4s;
        box-shadow: 0 0 0 3px #0289ce;
    }
    img{
        display: block;
        margin: 0 auto;
        width: 50px;
        height: 50px;
        margin-bottom: 20px;
        object-fit: cover;
    }
}
.catalogue{
    h2{
        margin-bottom: 30px;
        font-weight: bold;
    }
    .cat_item_container{
        overflow: hidden;
        margin-bottom: 20px;

    }

    .model_item{
        display: inline-block;
        text-align: center;
        width: 300px;
        height: 240px;
        padding: 15px;
        float: left;
        margin: 10px;
        cursor: pointer;
        font-weight: bold;
        font-size: 16px;
        color: #4F4F4F;
        border-radius: 5px;
        &:hover{
            transition: all 0.4s;
            box-shadow: 0 0 0 3px #0289ce;
        }
        img{
            object-fit: contain;
            display: block;
            margin: 0 auto;
            width: 100%;
            height: 150px;
            margin-bottom: 20px;
        }
    }
    .modification_item{
        display: inline-block;
        text-align: center;
        width: 300px;
        height: 240px;
        padding: 15px;
        float: left;
        margin: 10px;
        cursor: pointer;
        font-weight: bold;
        font-size: 16px;
        &:hover{
            transition: all 0.4s;
            box-shadow: 0 1px 4px 0 #5a6fab, 0 0 2px 1px #ffffff;
        }
    }
}
