/*Font-Awesome*/
@import '~font-awesome/scss/font-awesome';
/*Tabulator*/
@import '~tabulator-tables/dist/css/tabulator.css';

/*Base*/
body {
    margin: 0;
    font-family: "Segoe UI";
    font-weight: 400;
    line-height: 1.6;
    text-align: left;
    background: #edeef0;
    color: #000;
    padding: 0;
    direction: ltr;
    font-size: 14px;
    min-width: 1000px;
    overflow: hidden;
    letter-spacing: 0.4px;
}
a {
    color: #2D76A8;
    text-decoration: none;
    cursor: pointer;
    outline: 0;
}

/*Header*/

.app-header {
    background-color: #2D76A8;
    height: 52px;
    color: #fff;
    position: fixed;
    z-index: 1040;
    left: 0;
    right: 0;
    display: flex;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26), 0 -1px 0px rgba(0, 0, 0, 0.02);
}
.top-nav-bar{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin: 0;
    list-style: none;
}
.app-header a{
    text-decoration: none;
    color: #fff;
}
.app-logo {
    background: url(../img/logo.svg) no-repeat center;
    width: 80px;
    height: 52px;
    font-size: 0px;
    background-size: 32px;
    min-width: 80px;
}
.app-top-menu{
    list-style: none;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-direction: row;
    flex-basis: auto;
    margin: 0;
    padding: 0;
}
.app-top-menu li{
    padding: 0px 6px;
    line-height: 52px;
    height: 52px;
}

.app-top-menu .header-tab {
    text-decoration: none;
    display: block;
    padding: 18px 10px 15px;
    line-height: 17px;
    height: 16px;
    border-bottom: 3px solid transparent;

}
.header-tab:hover{
    transition: all ease-in-out .15s;
    border-bottom: 3px solid rgba(0, 235, 255, 0.5);
}
.top-navs{
    display: flex;
    flex: 1;
    padding: 0px 16px;
    padding-left: 0;
}

.right-nav a{
    height: 32px;
}
.right-nav a:hover{
    background: rgba(0, 235, 255, 0.2);
}
.top-warnings{
    position: relative;
}
.top-warnings.active .badge-pill{
    display: block;
}
.top-warnings:hover .badge-pill{
    border: 3px solid #248db9;
}
.top-warnings i{
    font-size: 20px;
    color: #275575;
}
.top-warnings .badge-pill{
    position: absolute;
    top: 10px;
    right: 6px;
    border: 3px solid #2d76a8;
    background: #ffa726;
    width: 8px;
    height: 8px;
    border-radius: 100px;
    display: none;
}
.search-panel{
    padding: 15px;
    display: flex;
    flex-direction: row;
}
.search-field-container{
    flex: 1;
    padding-right: 15px;
}

/*Buttons*/

.button{
    padding: 8px 16px 7px;
    margin: 0;
    font-size: 12.5px;
    display: inline-block;
    zoom: 1;
    cursor: pointer;
    white-space: nowrap;
    outline: none;
    vertical-align: top;
    line-height: 15px;
    text-align: center;
    text-decoration: none;
    background: none;
    background-color: #5181b8;
    color: #fff;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
}
.primary.button:hover {
    background-color: #5b88bd;
    text-decoration: none;
}
.primary.button:active {
    background-color: #4872a3;
    padding-top: 9px;
    padding-bottom: 6px;
}

/*Inputs*/

input {
    padding: 6px 9px 7px;
    border-radius: 3px;
    box-sizing: border-box;
    color: #000;
    margin: 0;
    border: 1px solid #d3d9de;
    outline: none;
    box-shadow: none;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #adb0b3;
}
input::-moz-placeholder { /* Firefox 19+ */
    color: #adb0b3;
}
input:-ms-input-placeholder { /* IE 10+ */
    color: #adb0b3;
}
input:-moz-placeholder { /* Firefox 18- */
    color: #adb0b3;
}

/*Main content*/

#ajax-content{
    flex: 1;
    display: flex;
    flex-direction: row;
}

.nav{
    padding-left: 0;
    padding-right: 0;
    list-style: none;
}

.content-menu .nav > li > a{
    padding: 5px 15px;
    display: block;
    position: relative;

}
.content-menu .nav > li > a span{
    padding-left: 22px;
}

.content-menu .nav > li > a i {
    position: absolute;
    top: 9px;
    left: 15px;
    font-size: 14px;
}

.app-content{
    padding-top: 52px;
    height: calc(100vh - 52px);
    width: 100vw;
    display: flex;
    flex: 1;
}

.nav-icon {
    float: left;
    margin-right: 0.5rem;
    margin-left: -0.25rem;
    font-size: 1rem;
    top: 0;
    width: 2.25rem;
    height: 2.25rem;
    text-align: center;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: font-color 0.15s ease-in-out;
}

.aside{
    width: 80px;
    background: #042E4C;
    min-width: 80px;
}
.aside ul {
    padding-left: 0;
    padding-right: 0;
    list-style: none;
}
.aside .nav > li > a {
    padding-top: 4px;
    padding-bottom: 4px;
    display: block;
    line-height: 40px;
    position: relative;
    white-space: nowrap;
}
.aside .nav > li > a:hover {
    background: #0c3d5f;
    color: #3d9ada;
}
.aside .nav > li > a .nav-icon {
    float: none;
    line-height: 22px;
    font-size: 20px;
    margin: 0 auto;
    position: relative;
}
.aside .nav > li > a .nav-text {
    display: block;
    margin-top: -14px;
    font-size: 12px;
}
.aside .nav > li > a {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    color: #2d76a8;
    font-weight: 500;
}
.side-menu{
    background: linear-gradient(180deg, #1874B2 0%, #185C8B 100%), #185C8B;
}
.side-menu .nav{
    padding-left: 0;
    padding-right: 0;
    list-style: none;
}
.side-menu .nav li > a {
    display: block;
    padding: 8px 16px;
    line-height: 30px;
    position: relative;
    white-space: nowrap;
    border-bottom: 1px solid #2F81B8;
    color: #fff;
}
.side-menu .nav li:hover > a {
    transition: all ease-in-out .15s;
    background: #1669a3;
}
.side-menu .nav li.active > a {
    background: #042e4c;
}
.category-back-button{
    position: relative;
    display: block;
}
.category-back-button i{
    position: absolute;
    top: 21px;
    left: 0px;
    font-size: 14px;
}
.category-back-button span{
    padding-left: 22px;
}
/*Personal*/

.avatar{
    position: relative;
    line-height: 1;
    border-radius: 500px;
    white-space: nowrap;
    font-weight: bold;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.avatar img {
    border-radius: 500px;
    width: 100%;
}
.main-content{
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: calc(100vw - 260px);
}
.content-menu{
    margin: 15px 0px 15px 15px;
}
.top-container{
    margin: 15px 15px 0px 15px;
}
.bottom-container{
    display: flex;
    flex: 1;
    flex-direction: row;
}
.box-lister{
    margin: 15px;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.box-content{
    flex: 1;
    max-width: calc(100vw - 595px);
}
.box{
    position: relative;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}
.box .box-header{
    /*border-bottom: 1px solid #e7e8ec;*/
    /*padding: 15px 15px 15px 15px;*/
    display: block;
    background: #fafbfc;
    padding: 0 15px;
    height: 54px;
    line-height: 54px;
    border-bottom: 1px solid #e7e8ec;
    border-radius: 4px 4px 0 0;
    font-size: 16px;
    outline: none;
    color: #000;
}

.tabulator .tabulator-header .tabulator-col:first-child .tabulator-col-content .tabulator-col-title {
    text-align: center;
}

/*BreadCrumbs*/

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-size: 13px;
}
.breadcrumb-item + .breadcrumb-item {
    padding-left: 0.5rem;
}
.breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    color: #6c757d;
    content: "/";
}

/*Helpers*/
.m-0{
    margin: 0!important;
}
.mr-12{
    margin-right: 12px!important;
}
.w-100{
    width: 100%!important;
}
.p-10{
    padding: 10px;
}
.mr-3{
    margin-right: 16px !important;
}
.d-flex{
    display: flex !important;
}
.align-items-center {
    align-items: center !important;
}
.md-auto{
    margin-left: auto!important;
}
.w-290{
    width: 290px!important;
    min-width: 290px!important;
}
.w-180{
    width: 180px!important;
    min-width: 180px!important;
}
.w-32 {
    width: 32px;
    height: 32px;
    font-size: 0.85em;
    line-height: 0.85;
}
