@font-face {
    font-family: 'RobotoSlab';
    src: url('/fonts/RobotoSlab-Light.eot');
    src: url('/fonts/RobotoSlab-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/RobotoSlab-Light.woff') format('woff'),
    url('/fonts/RobotoSlab-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.eot');
    src: url('/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Roboto-Regular.woff') format('woff'),
    url('/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Medium.eot');
    src: url('/fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Roboto-Medium.woff') format('woff'),
    url('/fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Bold.eot');
    src: url('/fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Roboto-Bold.woff') format('woff'),
    url('/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: Roboto !important;
    font-size: 16px !important;
    line-height: 24px !important;
    letter-spacing: 0.04em;
}
.auth-main{
    display: flex;
    height: 100vh;
}
.auth-main .form-control{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #404040;
    background: #FFFFFF;
    border: 1px solid #CDCDCD;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 15px 30px;
    height: auto;
}

.auth-main .form-control:not(.is-valid):not(.is-invalid):focus {
    box-shadow: none;
    border: 2px solid #404040;
    padding: 14px 29px;
}
.form-control.is-invalid, .was-validated .form-control:invalid {
    border: 2px solid #E84545;
    padding: 14px 29px;
}
.text-muted {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.04em;
    color: #E84545;
    margin-top: 10px;
    display: block;
}
.invalid-feedback {
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.04em;
    color: #E84545;
    margin-top: 10px;
    display: block;
}
.left-side{
    background: #0a0d2c;
    flex: 0 0 43.75%;
    max-width: 43.75%;
    display: flex;
    position: relative;
}
.right-side{
    flex: 0 0 56.25%;
    max-width: 56.25%;
    background: #fff;
    display: flex;
    overflow-y: auto;
}
.auth-block-login {
     align-self: center;
}
.bb-text-auth {
     //padding: 3rem !important;
    align-self: center !important;
    position: absolute;
    //top: 260px;
    right: 99px;
    max-width: 438px;
}
.back-site {
    position: absolute;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    top: 70px;
    right: 99px;
}
.back-site img {
    margin-right: 20px;
}
.bb-text-auth h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 2px solid #fff;
}

.bb-text-auth h5 {
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;
    letter-spacing: 0.03em;
    color: #fff;
}
/*.auth-block{
    align-self: center !important;
    padding: 3rem !important;
    width: 100%;
}*/
.auth-form-block{
    width: 654px;
    padding: 70px 99px;
}
.form-group {
    margin-bottom: 30px !important;
    padding-right: 34px;
}
.form-group label {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.04em;
    margin-bottom: 10px;
}

.login-policy {
    line-height: 22px;
    margin: 0 0 50px;
    padding-bottom: 30px;
    border-bottom: 1px solid #dbdbdb;
}
.login-policy-link {
    color: #1F98E9;
    transition: all .2s;
}
.login-policy-link:hover {
    text-decoration: underline;
    transition: all .2s;
}

.login-button{
    font-weight: bold;
    font-size: 14px !important;
    line-height: 16px !important;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    padding: 25px 63px !important;
    height: auto !important;
    margin-bottom: 20px !important;
}
.login-text{
    font-family: "RobotoSlab";
    font-weight: 300;
    font-size: 54px;
    line-height: 71px;
    letter-spacing: 0.03em;
    color: #404040;
    margin: 0 0 40px;
}
.create-acc-box {
    margin-bottom: 5px;
}
.create-acc-box a {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #404040;
    display: inline;
    transition: all .2s;
}
.create-acc-box a:hover {
    color: #1F98E9;
    text-decoration: underline;
    transition: all .3s;
}
#sms-box.unvalid input{
    border: 2px solid #c73535;
    background: #ff5656;
    color: #fff;
}
.sms-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.register-number-confirm {
    width: 120px !important;
    margin-right: 25px;
}
.sms-link {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    cursor: pointer;
    transition: all .3s;
}
.sms-link:hover {
    text-decoration: underline;
    color: #1F98E9;
    transition: all .3s;
}
.sms-desc {
    color: #E84545;
}

#sms-box {
    height: 178px;
    transform: scale(1);
    transition: all .3s;
}
#sms-box.hide {
    display: block !important;
    height: 0;
    transform: scale(0);
    transition: all .3s;
}
