.button{
    margin: 0;
    font-size: 12.5px;
    display: inline-block;
    white-space: nowrap;
    outline: none;
    border: none;
    vertical-align: top;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
}
.uppercase-btn{
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.0015em;
    font-weight: bold;
}
.button:disabled {
    opacity: 0.6;
}
.button.primary {
    background-color: #1F98E9;
    color: #fff;
}
.button.primary:hover {
    background-color: #0F8CDF;
    color: #fff;
}

.button.green {
    background-color: #63C054;
    color: #fff;
}

.button.red {
    background-color: red;
    color: #fff;
}

//.button.preloader-block{
//    width: 30px;
//    border-radius: 50%;
//    overflow: hidden;
//}

.button:focus {
    box-shadow: 0 0 0px 2px rgb(45 118 168 / 0.2);
}
.active .button, .button:active, .button.active{
    padding-top: 1px;
    padding-bottom: 0px;
}
//button .active .button.primary, .button.primary:active, .button.primary.active{
//    background-color: #0e7fca!important;
//    padding-top: 9px;
//    padding-bottom: 6px;



.button.white {
    background-color: #fff;
    color: #878787;
    border: 1px solid #E7E8EC;
}
.button.yellow {
    background-color: #38ff20;
    color: #404040;
    border: 1px solid #2d76a8;
}

.button.yellow:hover {
    background-color: #2de017;
    color: #404040;
    border: 1px solid #2d76a8;
}

.button.white:focus:not(:active) {
    background-color: #E7E8EC;
    color: #878787;
    //box-shadow: 0 0 0 2px rgba(31, 152, 233, 0.25);
    border: 1px solid #D8D8D8;
}
.button.white:hover {
    background: #f5f5f5;
}
.button.white:active {
    background-color: #E7E8EC;
    color: #878787;
    padding-top: 1px;
    border: 1px solid #D8D8D8;
}


.button.success {
    background-color: #59C747;
    color: #fff;
}
.button.success:hover {
    background-color: #3CBF26;
    color: #fff;
}
.button.success:focus:not(:active) {
    background-color: #59C747;
    color: #fff;
    box-shadow: 0 0 0 2px rgba(89, 199, 71, 0.25);
}
.button.success:active {
    background-color: #38B722;
    padding-top: 1px;
}

.button.is-invalid{
    border: 1px solid red!important;
}
.btn_clean {
    float: right;
    background: url(/images/icons/cross_gray.png) no-repeat 10px 10px;
    opacity: 0.75;
    color: transparent;
    filter: alpha(opacity=75);
    cursor: pointer;
    outline: none;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    border: 0;
}

.btn_clean:hover{
    opacity: 1;
}
