.b-light {
  border-color: #f9fafc; }

.b-white {
  border-color: #fff; }

.b-primary {
  border-color: #53a6fa; }

.b-t-primary {
  border-top-color: #53a6fa; }

.b-r-primary {
  border-right-color: #53a6fa; }

.b-b-primary {
  border-bottom-color: #53a6fa; }

.b-l-primary {
  border-left-color: #53a6fa; }

.b-accent {
  border-color: #6284f3; }

.b-t-accent {
  border-top-color: #6284f3; }

.b-r-accent {
  border-right-color: #6284f3; }

.b-b-accent {
  border-bottom-color: #6284f3; }

.b-l-accent {
  border-left-color: #6284f3; }

.b-warn {
  border-color: #907eec; }

.b-t-warn {
  border-top-color: #907eec; }

.b-r-warn {
  border-right-color: #907eec; }

.b-b-warn {
  border-bottom-color: #907eec; }

.b-l-warn {
  border-left-color: #907eec; }

.b-success {
  border-color: #22b66e; }

.b-t-success {
  border-top-color: #22b66e; }

.b-r-success {
  border-right-color: #22b66e; }

.b-b-success {
  border-bottom-color: #22b66e; }

.b-l-success {
  border-left-color: #22b66e; }

.b-info {
  border-color: #14baa8; }

.b-t-info {
  border-top-color: #14baa8; }

.b-r-info {
  border-right-color: #14baa8; }

.b-b-info {
  border-bottom-color: #14baa8; }

.b-l-info {
  border-left-color: #14baa8; }

.b-warning {
  border-color: #fdab29; }

.b-t-warning {
  border-top-color: #fdab29; }

.b-r-warning {
  border-right-color: #fdab29; }

.b-b-warning {
  border-bottom-color: #fdab29; }

.b-l-warning {
  border-left-color: #fdab29; }

.b-danger {
  border-color: #ea2e49; }

.b-t-danger {
  border-top-color: #ea2e49; }

.b-r-danger {
  border-right-color: #ea2e49; }

.b-b-danger {
  border-bottom-color: #ea2e49; }

.b-l-danger {
  border-left-color: #ea2e49; }

.b-light {
  border-color: #f9fafc; }

.b-t-light {
  border-top-color: #f9fafc; }

.b-r-light {
  border-right-color: #f9fafc; }

.b-b-light {
  border-bottom-color: #f9fafc; }

.b-l-light {
  border-left-color: #f9fafc; }

.b-dark {
  border-color: #1e2835; }

.b-t-dark {
  border-top-color: #1e2835; }

.b-r-dark {
  border-right-color: #1e2835; }

.b-b-dark {
  border-bottom-color: #1e2835; }

.b-l-dark {
  border-left-color: #1e2835; }

.b-white {
  border-color: #ffffff; }

.b-t-white {
  border-top-color: #ffffff; }

.b-r-white {
  border-right-color: #ffffff; }

.b-b-white {
  border-bottom-color: #ffffff; }

.b-l-white {
  border-left-color: #ffffff; }

.b-default {
  border-color: rgba(120, 130, 140, 0.13); }

.b-t-default {
  border-top-color: rgba(120, 130, 140, 0.13); }

.b-r-default {
  border-right-color: rgba(120, 130, 140, 0.13); }

.b-b-default {
  border-bottom-color: rgba(120, 130, 140, 0.13); }

.b-l-default {
  border-left-color: rgba(120, 130, 140, 0.13); }

.no-b-t {
  border-top-width: 0; }

.no-b-r {
  border-right-width: 0; }

.no-b-b {
  border-bottom-width: 0; }

.no-b-l {
  border-left-width: 0; }

.b-dashed {
  border-style: dashed !important; }

.b-transparent {
  border-color: transparent !important; }

/*
Colors
*/
.light {
    background-color: #f9fafc; }

.white {
    background-color: #fff; }

.text-light {
    color: #f9fafc; }

.text-white {
    color: #fff; }
