/*Font-Awesome*/
@import '~font-awesome/scss/font-awesome';
/*Preloader*/
.tabulator-loader{
    display:none!important;
}
.preloader{
    display: none;
    position: absolute;
    top: -5px;
    left: -17px;
    width: 58px;
    height: 90px;
    text-align: center;
    z-index: 999999;
    transform: rotateZ(90deg);
}

.choices__inner {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    background-color: #ffffff;
    padding: 1.5px 3.5px 3.75px;
    font-size: 12px;
    min-height: 32px;
    overflow: hidden;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
.choices[data-type*=select-one] .choices__inner {
    padding-bottom: unset!important;
}

.loading .preloader{
    display: block;
}
.preloader .porsh{
    animation:  1s linear infinite i1-anim;
}
.preloader .i1-element{
    background: url(/images/preloader/1-1.svg) no-repeat center;
    height: 42px;
    width: 40px;
    position: absolute;
    top: -50px;
    left: 30px;
}
.preloader .i2-element{
    background: url(/images/preloader/2-1.svg) no-repeat center;
    height: 200px;
    position: absolute;
    top: -129px;
    left: 30px;
    width: 40px;
    transform: translateY(0px);
    animation: 1s linear infinite i2r-anim;
}
.preloader .i3-element{
    background: url(/images/preloader/3-1.svg) no-repeat center;
    height: 110px;
    margin-top: 39px;
    animation: 1s linear 0s normal none infinite running i3-anim;
}
.list-p-items{
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #ced4da;
    padding: 0;
    list-style: none;
}
.list-p-items .item{
    border-bottom: 1px solid #eee;
    padding: 10px 15px;
}
.list-p-items .item:last-child{
    border-bottom: none;
}
.list-p-items .p-status{
    min-width: 150px;
}
.list-p-items .p-partner{
    min-width: 250px;
}

.d-inline-block{
    display: inline-block;
}

@keyframes i2r-anim {
    0%{
        transform: rotateZ(0deg);
    }
    25%{
        transform: rotateZ(-26.2deg);
    }
    75%{
        transform: rotateZ(26.2deg);
    }
    100%{
        transform: rotateZ(0deg);
    }
}
@keyframes i1-anim {
    0%{
        transform: translateY(0px);
    }
    25%{
        transform: translateY(45.5px);
    }
    50%{
        transform: translateY(74px);
    }
    75%{
        transform: translateY(45.5px);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes i3-anim {
    0%{
        transform: rotateZ(0deg);
    }
    50%{
        transform: rotateZ(180deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}

