.form-group {
    margin-bottom: 1rem;
}
label {
    font-weight: 500;
    font-size: inherit;
    display: inline-block;
    margin-bottom: .5rem;
}
label.label-sm{
    margin-bottom: 0;
    line-height: 32px;
}
.input-group {
    position: relative;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    align-items: stretch;
    width: 100%;
}
.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control, .input-group>.form-control-plaintext {
    position: relative;
    -webkit-box-flex: 1;
    flex: 1 1 0%;
    min-width: 0;
    margin-bottom: 0;
}
.right-remove{
    background: none;
    border: none;
    color: #5b88bd;
    margin: 0;
    float: right;
    line-height: 22px;
    padding: 0px 6px;
}
.right-remove:hover{
    background: #eee;
    border-radius: 50%;
}
.right-remove:active, .right-remove:focus{
    box-shadow: none;
    outline: none!important;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.form-control {
    border-color: hsla(210,8%,51%,.2);
    border-radius: .25rem;
    color: inherit;
}
.form-control {
    display: block;
    width: 100%;
    height: 32px;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.6;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control::placeholder{
    color: #D7D8DB;
}
.button_select:after {
    font-family: FontAwesome;
    font-weight: 400;
    content: "\F0C9";
    position: absolute;
    top: 0;
    right: 0;
    height: calc(1.6em + .75rem);
    width: calc(1.6em + .75rem);
    text-align: center;
    line-height: calc(1.6em + .75rem);
    color: #D7D8DB;
}
.form-control.is-invalid, .was-validated .form-control:invalid {
    border-color: #e3342f;
    padding-right: calc(1.6em + .75rem);
    background-repeat: no-repeat;
    background-position: right calc(.4em + .1875rem) center;
    background-size: calc(.8em + .375rem) calc(.8em + .375rem);
}
.form-control:focus {
    color: inherit;
    box-shadow: 0 0 0 0.2rem rgba(83,166,250,.25);
}
.form-control:not(.is-valid):not(.is-invalid):focus {
    border-color: #5b73bd;
}
.filter-panel label{
    margin-bottom: 0px!important;
}
.filter-panel input{
     margin-bottom: 0px!important;
}

.table-modal{
    border-spacing: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
}
.table-modal tr:hover td{
    background: #F7F7F7;
}
.table-modal .trash-button{
    border: 0;
    background: none;
    font-size: 17px;
}
.table-modal .trash-button i{
    color: #1F98E9;
}
.table-modal thead th{
    border-bottom: 1px solid #dee2e6;
    border-top: 1px solid #dee2e6;
    padding: 10px 0px;
}
.table-modal tr td{
    padding: 10px 0px;
    padding-right: 15px;
    border-bottom: 1px solid #E3E4E8;
}
.table-modal tr td input{
    height: 24px;
    border: 1px solid #E3E4E8;
    border-radius: 0px;
    padding: 0px 5px;
    padding-right: 3px!important;
}
.table-modal input:disabled, .table-modal[readonly] {
    background-color: #F5F5F5;
    border-color: #CDCDCD;
}
.product_list_element_name{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    max-width: 250px;
}
.font-weight-bolder {
    font-weight: bolder!important;
}

.box-title{
    color: #2D76A8;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 15px;
}
.box hr{
    margin-left: -15px;
    margin-right: -15px;
    background: #E3E4E8;
    height: 1px;
    outline: none;
    border: none;
    margin-bottom: 20px;
    margin-top: 15px;
}
.muted-icon{
    color:#CCCCCF;
}

/*Buttons*/

.button{
    padding: 8px 16px 7px;
    margin: 0;
    font-size: 12.5px;
    display: inline-block;
    zoom: 1;
    cursor: pointer;
    white-space: nowrap;
    outline: none;
    vertical-align: top;
    line-height: 15px;
    text-align: center;
    text-decoration: none;
    background: none;
    background-color: #1F98E9;
    border: 1px solid transparent;
    color: #fff;
    border-radius: 4px;
    box-sizing: border-box;
}
.uppercase-btn{
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.0015em;
    font-weight: bold;
}
.button.is-invalid{
    border: 1px solid red!important;
}
.button.success{
    background-color: #13CE66;
}
.button.white{
    background-color: #fff;
    border: 1px solid #1F98E9;
    color: #1F98E9;
}
.button.primary:hover {
    background-color: #1F98E9;
    border: 1px solid #93D4FF;
    text-decoration: none;
}
.button.primary:active {
    background-color: #1B86CD;
    padding-top: 9px;
    padding-bottom: 6px;
}
.item-title{
    font-size: 12px;
    display: block;
    height: 20px;
}
.item-except{
    line-height: 16px;
}
.modal-alt-header .button{
    line-height: 19px;
}
.modal-header .modal-alt-header:last-child{
    border-right: none!important;
}

.select-list-modal li{
    background: #F7F7F7;
    padding: 15px;
    margin-bottom: 2px;
    border-radius: 4px;
}
.select-list-modal li .list-title{
    font-weight: 600;
    font-size: 14px;
    color: #404040;
    border-right: 1px solid #85CEFF;
    padding: 0px 15px;
    flex: 1;
    max-width: calc((100% - 44px) /2);
}
.select-list-modal li .list-body{
    flex: 1;
    padding: 0px 15px;
    max-width: calc((100% - 32px) /2);
}
.select-list-modal li .date{
    color: #404040;
    font-weight: 600;
}
.select-list-modal li .secondary{
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.select-list-modal li:hover{
    background: #1F98E9;
}
.select-list-modal li:hover .list-title{
    color: #fff;
}
.pointer{
    cursor: pointer!important;
}
.d-flex{
    display: flex!important;
}
.select-list-modal i{
    font-size: 19px;
}
.ring-ico{
    background: #fff;
    border-radius: 50%;
    width: 44px;
    height: 44px;
}
.ring-ico i{
    text-align: center;
    display: block;
    margin: 12px 0;
}
.dialog.selected{
    z-index: 9998;
}
.select-list-modal{
    margin-top: 0;
}
