//.white{
//    background-color: #fff!important;
//    color: #404040!important;
//}

.flash{

    animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
}

.flash .titlebar{
   // background: #DD3939!important;
}
.d-none-f{
    display: none!important;
}
.show{
    display: block!important;
}
.m-15 {
    margin: 15px !important;
}
.m-0{
    margin: 0!important;
}
.pl-8{
    padding-left: 8px!important;
}
.simplebar-track.simplebar-vertical {
    width: 13px!important;
}
.simplebar-scrollbar:before {
    background: #B2B5B7!important;
}
.simplebar-scrollbar {
    right: 3px!important;
}
h5{
    font-weight: 600;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
.modal-title{
    flex: 1;
}
.no-pr{
    padding-right: 0!important;
}
.no-pl{
    padding-left: 0!important;
}
.tab-content{
    padding: 15px;
}
.text-danger{
    color: #FF4949;
}
.modal-body .table th{
    font-size: 14px;
    font-weight: 500;
    border-bottom: 2px solid #404040;
    padding: 0px 0 5px 0;
}
.modal-body .table td{
    border-bottom: 1px solid #E3E4E8;
    padding: 10px 0;
}
.table{
    border-spacing: 0;
}
.modal-body .nav{
    background-color: #F7F7F7;
    margin: 15px;
    border-radius: 3px;
    overflow: hidden;
    padding: 10px 0;
    flex: 1;
}
.modal-body .nav-link{
    padding: 10px 15px;
    display: block;
    border-bottom: 1px solid #FFFFFF;
}
.modal-body .nav-link:hover, .modal-body .nav-link.active{
    background-color: #1F98E9;
    color: #fff;
}

.modal-header.with_border{
    border-radius: 3px 3px 0 0;
    margin-top: 15px;
    padding: 15px;
    border-bottom: 1px solid #E3E4E8 !important;
    margin-left: 15px;
    margin-right: 15px;
}
.pick_button.light{
    color: #404040;
    background: #F7F7F7;
    border: 1px solid #D7D8DB;
}

.pick_button.light{
    color: #404040;
    background: #F7F7F7;
    border: 1px solid #D7D8DB;
}

.pick_button.light:hover{
    background: #e7e7e7;
    border: 1px solid #c5c5c6;
}

.select_link_back{

}

.form-group {
    margin-bottom: 1rem;
}
label {
    font-weight: 500;
    font-size: inherit;
    display: inline-block;
    margin-bottom: .5rem;
}
label.label-sm{
    margin-bottom: 0;
    line-height: 32px;
}
.input-group {
    position: relative;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    align-items: stretch;
    width: 100%;
}
.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control, .input-group>.form-control-plaintext {
    position: relative;
    -webkit-box-flex: 1;
    flex: 1 1 0%;
    min-width: 0;
    margin-bottom: 0;
}
.right-remove{
    background: none;
    border: none;
    color: #5b88bd;
    margin: 0;
    float: right;
    line-height: 22px;
    padding: 0px 6px;
}
.right-remove:hover{
    background: #eee;
    border-radius: 50%;
}
.right-remove:active, .right-remove:focus{
    box-shadow: none;
    outline: none!important;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.form-control {
    border-color: hsla(210,8%,51%,.2);
    border-radius: .25rem;
    color: inherit;
}
.form-control {
    display: block;
    width: 100%;
    height: 32px;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.6;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    position: relative;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control::placeholder{
    color: #D7D8DB;
}
.button_select:after {
    font-family: FontAwesome;
    font-weight: 400;
    content: "\F0C9";
    position: absolute;
    top: 0;
    right: 0;
    height: calc(1.6em + .75rem);
    width: calc(1.6em + .75rem);
    text-align: center;
    line-height: calc(1.6em + .75rem);
    color: #D7D8DB;
}
.form-control.is-invalid, .was-validated .form-control:invalid {
    border-color: #e3342f;
    padding-right: calc(1.6em + .75rem);
    background-repeat: no-repeat;
    background-position: right calc(.4em + .1875rem) center;
    background-size: calc(.8em + .375rem) calc(.8em + .375rem);
}
.form-control:focus {
    color: inherit;
    box-shadow: 0 0 0 0.2rem rgba(83,166,250,.25);
}
.form-control:not(.is-valid):not(.is-invalid):focus {
    border-color: #5b73bd;
}
.filter-panel label{
    margin-bottom: 0px!important;
}
.filter-panel input{
     margin-bottom: 0px!important;
}

.table-modal{
    border-spacing: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    font-family: 'Segoe UI';
}
.table-modal tr:hover td{
    background: #F7F7F7;
}
.table-modal .trash-button{
    border: 0;
    background: none;
    font-size: 17px;
}
.table-modal .trash-button i{
    color: #1F98E9;
}
.table-modal thead th{
    border-bottom: 1px solid #dee2e6;
    border-top: 1px solid #dee2e6;
    padding: 10px 0px;
}
.table-modal tr td{
    padding: 10px 0px;
    padding-right: 15px;
    border-bottom: 1px solid #E3E4E8;
}
.table-modal tr td input{
    height: 24px;
    border: 1px solid #E3E4E8;
    border-radius: 0px;
    padding: 0px 5px;
    padding-right: 3px!important;
}
.table-modal input:disabled, .table-modal[readonly] {
    background-color: #F5F5F5;
    border-color: #CDCDCD;
}
.product_list_element_name{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    max-width: 250px;
}
.font-weight-bolder {
    font-weight: bolder!important;
}

.box-title{
    color: #2D76A8;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 15px;
}
.box hr{
    margin-left: -15px;
    margin-right: -15px;
    background: #E3E4E8;
    height: 1px;
    outline: none;
    border: none;
    margin-bottom: 20px;
    margin-top: 15px;
}
.muted-icon{
    color:#CCCCCF;
}


.item-title{
    font-size: 12px;
    display: block;
    height: 20px;
}
.item-except{
    line-height: 16px;
}
.modal-alt-header .button{
    line-height: 19px;
}
.modal-header .modal-alt-header:last-child{
    border-right: none!important;
}

.select-list-modal li{
    background: #F7F7F7;
    padding: 15px;
    margin-bottom: 2px;
    border-radius: 4px;
}
.select-list-modal li .list-title{
    font-weight: 600;
    font-size: 14px;
    color: #404040;
    border-right: 1px solid #85CEFF;
    padding: 0px 15px;
    flex: 1;
    max-width: calc((100% - 44px) /2);
}

.categories_list li .list-title{
    font-size: 13px;
    color: #404040;
    border-right: none;
    padding: 0px 15px;
    flex: 1;
    max-width: unset;
    padding-left: 0;
}

.select-list-modal li .list-body{
    flex: 1;
    padding: 0px 15px;
    max-width: calc((100% - 32px) /2);
}

.categories_list li .list-body {
    flex: 0.2;
    padding: 0px 15px;
    max-width: unset;
    padding-right: 0;
}

.pick_button{
    background-color: #1770AC;
    outline: 0;
    border: 0;
    border-radius: 3px;
    padding: 3px 10px;
    color: #fff;
    display: none;
}

.pick_button:hover{
    background-color: #23628e;
}

.inscroll .select-list-modal{
    padding-right: 15px!important;
    padding-left: 15px!important;
}

.box-body.inscroll{
    padding-right: 0px!important;
    padding-left: 0px!important;
}

.categories_list{
    margin: 0;
}

.categories_list li:hover .pick_button{
    display: block;
}

.select-list-modal li .date{
    font-weight: 600;
}
.select-list-modal li .secondary{
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.select-list-modal li:hover{
    background: #1F98E9;
}
.select-list-modal li:hover .list-title{
    color: #fff;
}
.select-list-modal li:hover .list-body{
    color: #fff;
}
.pointer{
    cursor: pointer!important;
}
.d-flex{
    display: flex!important;
}
.select-list-modal i{
    font-size: 19px;
}
.ring-ico{
    background: #fff;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    min-width: 44px;
}
.ring-ico i{
    text-align: center;
    display: block;
    margin: 12px 0;
}
.dialog.selected{
    z-index: 9998;
}
.select-list-modal{
    margin-top: 0;
}
.dropdown{
    height: 100%;
}
.drop-butt{
    height: 100%;
    line-height: 30px;
    background: #1F98E9;
    padding: 0 15px;
    color: #fff;
    border-radius: 0px 3px 3px 0px;
    cursor: pointer;
}
.input-group>.form-control:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.drop-butt i{
    font-size: 11px;
}
.drop-butt:hover {
    background-color: #1e85ca;
}
.mb-3{
    margin-bottom: 15px;
}
.first_letter{
    font-size: 14px;
    font-weight: 700;
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 11px;
    margin-bottom: 11px;
}
.pr-15{
    padding-right: 15px!important;
}
.flex-1{
    flex: 1!important;
}
.nav-active-bg .nav-link.active, .nav-active-bg .nav>li.active>a {
    color: rgba(70,90,110,.85)!important;
    background-color: #f3f6f9!important;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-link.active:focus, .nav-tabs .nav-link.active:hover, .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: hsla(210,8%,51%,.13) hsla(210,8%,51%,.13) transparent;
}
.tab-content>.tab-pane {
    display: none;
}
.tab-content>.active {
    display: block;
}
#printed{
    width: 100vw;
    height: 100vh;
    z-index: 999999999;
    display: none;
}
#unprinted{
    display: block;
}
@media print { /* Стиль для печати */
    #printed{
        display: block;
    }
    #unprinted{
        display: none;
    }
}
.nav-tabs{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-top: 0;
    height: 32px;
}
.nav-tabs .nav-item a{
    padding: 0px 15px;
    height: 32px;
    line-height: 32px;
    display: block;
    border-radius: 3px;
}
.flex-column {
    -webkit-box-orient: vertical!important;
    flex-direction: column!important;
}
.flex-column, .flex-row {
    -webkit-box-direction: normal!important;
}
.text-center {
    text-align: center!important;
}
.p-4 {
    padding: 1.5rem!important;
}
.hide {
    display: none!important;
}
.input-group-append .button{
    border-radius: 0px 3px 3px 0px;
}
.chat-date {
    opacity: .5;
    font-size: .8em;
    display: block;
}
.chat-content{
    display: inline-flex;
    padding: .5rem .75rem;
    border-radius: 3px;
    background: #1d87cf;
    color: #fff;
    margin-bottom: 5px;
}
.chat-body {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start;
    align-items: flex-start;
}
.chat-item {
    display: -webkit-box;
    display: flex;
    margin-bottom: 10px;
}
.success {
    color: hsla(0,0%,100%,.85);
    background-color: #22b66e;
}
.primary {
    color: #fff;
    background-color: #1f98e9;
}
.pb-3, .py-3 {
    padding-bottom: 15px!important;
}
.pt-3, .py-3 {
    padding-top: 15px!important;
}
.chat-item>* {
    margin-left: .5rem;
    margin-right: .5rem;
}
.badge-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
}
.list-group-item{
    display: block;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #f7f7f7;
}
.text-right {
    text-align: right!important;
}

.pr-2, .px-2 {
    padding-right: .5rem!important;
}
.float-right {
    float: right!important;
}
.w-128 {
    width: 128px;
}
