.form_product_dialog {

    .tab-pane.prices {

        .markup_selector {

            width: 25px;

            .custom_checkbox {
                right: 0;
            }

        }

        .block {
            border: 1px solid #e7e8ec;
            padding: 5px 15px;
        }

    }

}
