.sc table {
    width: 100%;
    box-sizing: border-box;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
}
.resize{
    cursor: col-resize;
    width: 3px;
    background: #eeeeee;
    border-width: 1px;
    border-color: #dddddd;
}
.sc .res_list{
    width: 200px;
}
.sc .res_header{
    width: 200px;
}
.sc .scroller-clip {
    overflow: hidden;
    position: relative;
}
.sc .scroller {
    overflow: scroll hidden;
    margin: 0 0 -17px;
}
.sc .cell-width{
    width:100px;
}
.sc .cell-height{
    height:100px;
}

.sc .ow-auto{
    overflow: auto!important;
}

.sc th, .sc td {
    border-style: solid;
    border-width: 1px;
    padding: 0;
    vertical-align: top;
    border-color: #ddd;
}
.sc .b-none{
    border-width: 0!important;
}
.sc #cell_grid tbody tr:first-child td{
    border-top: 0!important;
}
.sc .bb-1{
    border-bottom-width: 1px!important;
}
.sc .b-1{
    border: 1px solid #ddd;
}
.sc .bb-0{
    border-bottom-width: 0!important;
}
.sc .bt-0{
    border-top-width: 0!important;
}
#cell_grid tbody tr td:first-child{
    border-left: 0!important;
}
#dates_list tbody tr th:first-child{
    border-left: 0!important;
}
#dates_list tbody tr th{
    border-top-width: 0!important;
}
#resources_grid tr:first-child td{
    border-top-width: 0!important;
}
#resources_grid td{
    border-right-width: 0px!important;
    border-left-width: 0px!important;
}
.sc .resource_header{
    border-bottom: 1px solid #ddd;
    height: 28px;
}

.sc .header_item{
    padding: 2px 8px;
    text-align: center;
}
#entry_dates .scroller-clip{
    box-shadow: 0px 2px 3px 0px #eee;
}
#entry_resize{
    box-shadow: 3px 0px 3px 0px #eee;
}

.sc .cell{
    transition: all 0.3s;
    margin: 2px;
    height: 96px;
    position: relative;
    border-radius: 3px;
    border: 1px solid transparent;
}

.sc .cell.selected:after {
    content: "";
    top: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1999;
    background: rgba(238, 238, 238, 0.5);
    border-radius: 3px;
    box-shadow: 0px 0px 4px 0px #eee;
}

.sc .cell:not(.selected):hover{
    border: 1px solid #2d76a8;
}

.sc .btn-icon{
    font-size: 14px;
    line-height: 20px;
    border: 1px solid #2d76a8;
    color: #2d76a8;
    background: #fff;
    border-left: 0px;
    border-top: 0px;
    padding: 2px;
    width: 24px;
    height: 24px;
}
.sc .btn-icon:hover{
    color: #fff;
    background: #2d76a8;
}

.sc .cell_buttons_container{
    transition: all 0.3s;
    opacity: 0;
    position: absolute;
    z-index: 2000;
    width: 100%;
}
.sc .perod_date{
    display: block;
    width: 100%;
    font-size: 12px;
    text-align: center;
}
.sc .schedules{
    display: block;
    height: 100%;
    padding-top: 28px;
}
.cell:not(.selected):hover .cell_buttons_container{
    transition-delay: 0.3s;
    opacity: 1;
}
#square_select {
    border: 1px dotted #000;
    position: absolute;
}
.selection {
    background: rgba(46, 115, 252, 0.11);
    border-radius: 0.1em;
    border: 2px solid rgba(98, 155, 255, 0.81);
}
.work_day .cell{
    background: rgba(0, 128, 0, 0.2);
}
.free_day .cell{
    background: rgba(255, 0, 0, 0.2);
}
.sc .resource_left{
    text-align: center;
    font-weight: 600;
    padding: 10px;
}
