// Dropdown

.dropdown_menu{
    position: absolute;
    border: 1px solid #AFCDE4;
    border-radius: 4px;
    padding: 6px 0;
    background: #fff;
    box-shadow: 0px 4px 10px rgba(44, 64, 129, 0.12);
    top: calc(100% + 26px);
    right: 0;
    z-index: 999999999;
    visibility: hidden;
    opacity: 0;
    transition: opacity 100ms linear,top 100ms linear,visibility 100ms linear;
    animation: show_dropdown 1s;
    user-select: none;
    pointer-events: none;
    &.show{
        top: calc(100% + 6px);
        opacity: 1;
        visibility: visible;
        user-select: auto;
        pointer-events: auto;
    }
    .element {
        display: block;
        white-space: nowrap;
        padding: 4px 15px;
        cursor: pointer;
        color: #2d76a8;
        line-height: 24px;
    }
    .arrow:before {
        border-width: 0 .5rem .5rem;
        border-bottom-color: #afcde4;
    }
    .arrow:after, .arrow:before {
        position: absolute;
        display: block;
        content: "";
        border-color: transparent;
        border-style: solid;
        top: -8px;
        right: 10px;
    }
    .arrow:after {
        border-width: 0 .5rem .5rem;
        border-bottom-color: #fff;
        top: -6.5px;
    }
}
.vc-container{
    width: 100%!important;
    border-radius: 0!important;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    border: none!important;
}
.vc-arrows-container {
    padding: 0px!important;
}
.vc-header {
    padding: 0px 10px 0 10px!important;
    line-height: 30px!important;
    height: 30px!important;
    border-bottom: 1px solid #e7e8ec!important;
}
.vc-title {
    line-height: 30px!important;
    font-size: 14px!important;
    font-family: 'Segoe UI'!important;
    color: #404040!important;
}
.vc-arrow {
    color: #bbbbbb!important;
}
.vc-arrow:hover {
    background: none!important;
    color: #2d76a8!important;
}
.vc-container {
    font-family: 'Segoe UI'!important;
}
.vc-weeks[data-v-31279cb5] {
    //padding: 0!important;
    //padding-bottom: 10px!important;
}
.vc-weekday[data-v-31279cb5] {
    padding: 4px 0!important;
}
.defis{
    display: block;
    background: #eeeef1;
    height: 2px;
    width: 15px;
    margin: 14px 8px;
}
