#ajax-shop-traffic {
    .methods {

        display: flex;
        flex-wrap: wrap;

        .method {

            margin-right: 15px;
            cursor: pointer;

            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #F7F7F7 100%), #FFFFFF;
            border: 1px solid #DDDEE2;
            box-sizing: border-box;
            border-radius: 4px;

            .image {
                padding: 35px 40px;

                img {
                    height: 43px;
                    width: 137px;
                    object-fit: contain;
                }
            }

            .status {
                width: 34px;
                height: 20px;
                margin-left: 15px;
                margin-bottom: 15px;
            }
        }

    }
}
