.product_page {

    .empty_table {
        border-left: 1px solid #E1E1E1;
        border-right: 1px solid #E1E1E1;
    }

    .analogue_list {
        min-height: 150px;

        .table {
            .header {
                .pointer {
                    i {
                        &.active {
                            color: red;
                        }
                    }
                }
            }
        }
    }

}
