.search_page {

    h2 {
        margin-bottom: 0 !important;
    }

    .empty_table {
        border-left: 1px solid #e1e1e1;
        border-right: 1px solid #e1e1e1;
        border-bottom: 1px solid #e1e1e1;
    }

    .search_header {
        display: flex;
        height: 44px;
        border: 1px solid #E1E1E1;
        background: #F3F3F3;

        div {
            padding-left: 30px;
            font-weight: bold;
            font-size: 14px;
            line-height: 44px;
            letter-spacing: 0.04em;
            color: #272727;
        }
    }

    .search_body {

        .brand {

            display: flex;
            position: relative;
            height: 40px;
            align-items: center;
            cursor: pointer;
            border-left: 1px solid #E1E1E1;
            border-right: 1px solid #E1E1E1;
            border-bottom: 1px solid #E1E1E1;

            .name {
                padding-left: 30px;

                font-weight: bold;
                font-size: 16px;
                line-height: 22px;
                letter-spacing: 0.06em;
                text-transform: uppercase;
                color: #989898;
            }

            &:hover {
                background-color: #ececec;
            }
        }
    }

    .table {

        .title {
            margin-top: 30px;
            height: 56px;
            line-height: 56px;
            background: #404040;
            padding-left: 30px;
            padding-right: 30px;
            font-weight: bold;
            font-size: 16px;
            letter-spacing: 0.04em;
            color: #FFFFFF;

            .name {
                float: right;
            }
        }

        .back {
            background: #FFFFFF;
            border: 2px solid #E23414;
            box-sizing: border-box;
            border-radius: 4px;
            cursor: pointer;
            font-weight: bold;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.04em;
            color: #404040;
            height: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 99px;

            .arrow {
                width: 20px;
                height: 10px;
                background: url(/images/shop/arrow-back.svg) center no-repeat;
            }
        }
    }

}
