/*
 * Stylesheet for Draggable and Risizable Dialog Box
 *
 * Designed by ZulNs, @Gorontalo, Indonesia, 7 June 2017
 */

@keyframes flash {
	from {box-shadow: 0px 14px 26px rgba(0, 0, 0, 0.11);}
	50% {box-shadow: 0px 14px 26px rgba(63, 81, 181, 0.5);}
	to {box-shadow: 0px 14px 26px rgba(0, 0, 0, 0.11);}
}

.dialog-dragged{
	overflow-x: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.flash{
	animation: flash 300ms ease;
}

#dialogs{
	position: absolute;
	z-index: 1100;
}
#show-dialog {
	height: 36px;
	font-size: 1.2em;
	cursor: pointer;
	color: #fff;
	background: #39c;
}
#show-dialog:disabled {
	cursor: default;
	color: #aaa;
	background: #069;
}
#dialog-status {
	width: 480px;
	padding: 6px 8px;
	font-size: 1.2em;
	color: #fff;
	background: #e80;
	border: 1px solid #aaa;
}
.dialog {
	margin: 0;
	position: fixed;
	box-shadow: 0 2px 10px rgba(0,0,0,.35);
	border-radius: 4px;
	overflow: hidden;
	z-index: 10000;
	max-height: 90%;
    border: 2px solid white;
}

.dialog > form {
	background: #fff;
}
.mh50-dialog{
	max-height: calc(50vh - 32px);
	overflow-y: auto;
}
.mh40-dialog {
    max-height: calc(40vh - 20px);
}
.dialog.selected{
	z-index: 10000000;
	opacity: 1;
}

.dialog .titlebar {
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
	font-size: 15px;
    padding: 0 7px 0 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: move;
    padding-right: 40px;
	background: #1e2835;
	color: #fff;
	border-radius: 4px 4px 0 0;
}
.dialog .content {
	position: absolute;
	top: 48px;
	left: 16px;
	overflow: auto;
	font-size: 1em;
}
.dialog .buttonpane:before {
	width: 100%;
	height: 0;
	border-bottom: 1px solid;
	content: '';
	position: absolute;
	top: -16px;
}
.dialog .buttonpane {
	width: 100%;
	position: absolute;
	bottom: 16px;
	right: 16px;
}
.dialog .buttonset {
	float: right;
}
.dialog .btn_close {
	color: #666;
}
.dialog button::-moz-focus-inner {
	border: 0;
}
.dialog button.hover,
.dialog button.active
{
	cursor: pointer;
}


.dialog .btn_close:hover {
	opacity: 1;
	filter: none;
}
.dialog .btn_close {
	float: right;
	background: url(/images/icons/cross.png) no-repeat 13px 15px;
	opacity: 0.75;
	color: transparent;
	filter: alpha(opacity=75);
	cursor: pointer;
	outline: none;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
	border: 0;
}

.dialog .buttonset button {
	height: 32px;
	width: 64px;
	font-size: 1.1em;
	padding: 0;
	border: 2px solid #fff;
	border-radius: 4px;
	margin-left: 16px;
	background: #39c
}
.dialog .buttonset button:first-child {
	margin-left: 0;
}
.dialog .buttonset button.hover,
.dialog .buttonset button.focus
{
	box-shadow: inset -32px 0 0 0 #17a, inset 32px 0 0 0 #17a;
}
.dialog .buttonset button.active {
	background: #1a7;
	border-color: #ddd;
}

.dialog-color {
    background-color: #5b73bd;
    color: rgba(255, 255, 255, 0.85);
}
